---
const { t } = Astro.props;
---
<section class="testimonials text-center mt-5">
    <h2>{t.testimonials.title}</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    "{t.testimonials.review1}"
                    <br />
                    ⭐⭐⭐⭐⭐
                    <cite>- {t.testimonials.review1_author}</cite>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    "{t.testimonials.review2}"
                    <br />
                    ⭐⭐⭐⭐⭐
                    <cite>- {t.testimonials.review2_author}</cite>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    "{t.testimonials.review3}"
                    <br />
                    ⭐⭐⭐⭐⭐
                    <cite>- {t.testimonials.review3_author}</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>
